
#tabs_step_options .page-content {
    padding: 20px;
    text-align: center;
}

.luggage-wrapper {
    display: inline-block;
}

.traveler-count-wrapper {
    width:300px;
    display: inline-block;
}

#flight_info .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('../img/bg-ZRH.jpg') center / cover;
}

#flight_info_title {
    text-shadow: 2px 2px 1px black;
}

.demo-list-radio {
    display: inline;
}

.mdl-list__item.recommended {
    color: rgb(255,64,129);
}


#view_details {
    background-color: #e9f0f5;
}

.timeline-wrapper {
    padding: 20px;
}

.cd-timeline-img {
    background-color: #ffffff;
}

.cd-timeline-img .material-icons {
    padding: 9px;
    color: rgb(63,81,181);
}

.cd-timeline-content h5 {
    color: rgb(63,81,181);
    margin-top: 2px !important;
}

.cd-timeline-content p {
    font-size: 18px !important;
    margin: 0 !important;
    color: rgb(255,64,129);
}

.cd-timeline-content p .material-icons {
    vertical-align: middle;
}

.leave-notificatoin-wrapper {
    display: inline-block;
    float: right;
}

.notify-label {
    float: right;
    margin: -22px 0 0 22px;
}

.timeline-emoji {
    display: none;
    width: 64px;
    height: 64px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer !important;
    margin: 0 !important;
    z-index: 9999;
}

.timeline-emoji:after {
    top: -4px !important;
    right: -4px !important;
}

.timeline-emoji.worried {
    background: url(../img/worried.svg) no-repeat;
}

.timeline-emoji.happy {
    background: url(../img/happy.svg) no-repeat;
}